/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*************************
    BASE
**************************/

:root {
    --color-text: #4d3f2d;
    --color-vanilla: #FCFBE3;
    --color-darkChocolate: #755C3B;
    --color-lightPink: #FBCFCF;
    --color-strawberry: #E08E79;
    --color-strawberryHover: #e85531;
    --color-lightGreen: #C5E0DC;
    --color-mate: #95dab6;
    --color-mateHover: #5fc791;
    --color-sky: #83b2d0;
    --color-skyHover: #589fcc;
    --color-white: #FFF;
    --color-gray: #adadad;
    --color-grayLight: #e0e0e0;
    --btn-border-radius: 2rem;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: var(--color-text);
    line-height: 1.65;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    font-weight: 900;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

a {
    cursor: pointer;
    color: var(--color-text);
}

a:hover {
    color: var(--color-text);
}

/*************************
    FOOTER
**************************/
footer {
    color: var(--color-white);
    background-color: var(--color-text);
}

footer a {
    color: var(--color-white);
}

footer a:hover,
footer a:focus {
    color: var(--color-white);
    text-decoration: underline;
}

footer p {
    color: var(--color-white);
    margin: 0;
}


/***************************************************************************
    REWRITING BOOTSTRAP
****************************************************************************/

/*************************
    NAVBAR
**************************/

.navbar {
    z-index: 2;
    border-bottom: 1px solid var(--color-grayLight);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.navbar-brand {
    font-weight: 700;
}

.navbar-nav {
    margin-top: 0.5rem;
    align-items: center;
}

.nav-item {
    padding: 0.5rem;
}

.nav-item,
.nav-item a {
    width: 100%;
    text-align: center;
}

.navbar-nav .nav-item .nav-link {
    padding: 0;
    text-align: center;
    width: 100%;
    box-shadow: none;
    font-weight: 400;
}

.navbar-nav .nav-item .nav-link:hover {
    text-decoration: underline;
}

.navbar-toggler {
    border: 0;
}

button.navbar-toggler:focus {
    outline: none;
}

@media (min-width: 576px) {
    .navbar-nav {
        margin: 0;
    }
}
/*************************
    BUTTONS
**************************/
.btn {
    border-radius: 2rem;
    padding: 0.45rem 1.95rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    font-weight: 700;
}

.btn-primary {
    color: var(--color-white);
    background-color: var(--color-strawberry);
    border-color: var(--color-strawberry);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus {
    background-color: var(--color-strawberryHover);
    border-color: var(--color-strawberryHover);
}

.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgb(232 86 49 / 50%);
}


.btn-edit {
    color: var(--color-white);
    background-color: var(--color-mate);
}

.btn-edit:hover {
    color: var(--color-white);
    background-color: var(--color-mateHover);
}

.btn-detail {
    color: var(--color-white);
    background-color: var(--color-sky);
}

.btn-detail:hover {
    color: var(--color-white);
    background-color: var(--color-skyHover);
}

.btn-back {
    color: var(--color-gray);
    border: 1px solid var(--color-gray);
}

.btn-back:hover {
    color: var(--color-text);
    border-color: var(--color-text);
}

/*************************
    FORM
**************************/
.form-control {
    color: var(--color-text);
}

.form-control:focus {
    border-color: var(--color-darkChocolate);
    box-shadow: 0 0 0 0.2rem rgb(117 92 59 / 25%);
}


/*************************
    CHANGE THIS CODE
**************************/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

