@{
    ViewData["Title"] = "Welcome";
}
<link rel="stylesheet" href="css/Home/index.css"/>
<article>
    <header class="home container-fluid hero-image d-flex align-items-center">

        <div class="container">
            <div class="row">

                <div class="col-12 text-center align-middle">
                    <h1 class="text-center">Design the perfect Wedding Cake</h1>
                    <p class="h4 mx-auto subtitle">An unforgettable experience in the form of a uniquely customized cake just for your wedding.</p>
                    @*todo: Please add *@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-primary mt-5" asp-controller="WeddingCake" asp-action="Create">Create Cake</a>
                    }
                    else
                    {
                        <a class="btn btn-primary mt-5" href="/Identity/Account/Register">Signup</a>
                    }
                </div>
            </div>
        </div>

    </header>

    <section class="container mb-4">
        <div class="row">
            <div class="col-12 text-center py-5">
                <h2>Unleash your cake creativity</h2>
            </div>
            <div class="col-12 mt-3 mb-5">
                <div class="row">

                    <div class="col-12 col-md-6">
                        <h3>Decide the cake height</h3>
                        <p>
                            Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
                        </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <img class="home__image" src="~/assets/homepage/levels-pexels-brent-keane.jpg" alt="Wedding Cake Picture" />
                    </div>

                </div>
            </div>
            <div class="col-12 my-5">
                <div class="row">

                    <div class="col-12 col-md-6 order-md-last">
                        <h3>Pick a filling flavor</h3>
                        <p>
                            Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
                        </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <img class="home__image" src="./assets/homepage/filling-pexels-abhinav-goswami.jpg" alt="Wedding Cake Filling Picture" />
                    </div>

                </div>
            </div>
            <div class="col-12 my-5">
                <div class="row">

                    <div class="col-12 col-md-6">
                        <h3>Different flavors of your cake frosting</h3>
                        <p>
                            Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
                        </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <img class="home__image" src="./assets/homepage/frosting-pexels-cottonbro.jpg" alt="Wedding Cake frosting" />
                    </div>

                </div>
            </div>
            <div class="col-12 my-5">
                <div class="row">

                    <div class="col-12 col-md-6 order-md-last">
                        <h3>Multiple decorations for your cake</h3>
                        <p>
                            Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
                        </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <img class="home__image" src="./assets/homepage/decorations-pexels-rodnae-productions.jpg" alt="Wedding Cake Decorations Picture" />
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section class="container-fluid home__section">

        <div class="container">
            <div class="row">
                <div class="col-12 text-center py-5">
                    <h2>Create your own cake now</h2>
                    <a class="btn btn-primary mb-3 mt-4" href="/Identity/Account/Register">Signup</a>
                </div>
            </div>
        </div>

    </section>

</article>