@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="css/Home/index.css"/>
<div class="container">
    <div class="row align-items-center">
        <div class="col-8">
            <img src="assets/homepage/HomePageHeroImage.jpg" class="hero_image"/>
        </div>
        <div class="col-4 d-flex">
            <div class="align-items-center">
                <h1>Design the perfect Wedding Cake</h1>
                <button type="button" class="btn btn-primary">Get started</button>
            </div>
        </div>
    </div>
</div>
