@model CreamyCreations.ViewModels.PaymentVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>PaymentVM</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WeddingCakeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
