@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmation of an account registration";
}


<article class="container vh-100 pb-5">

    <header class="row justify-content-center pt-5">
        <div class="col-12 col-md-7">
            <h1 class="text-center">@ViewData["Title"]</h1>
        </div>
    </header>

    <section class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <hr />
            @{
                if (@Model.DisplayConfirmAccountLink)
                {
                    <p class="text-center">
                        This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                        Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                    </p>
                }
                else
                {
                    <p class="text-center">
                        Please check your email to confirm your account.
                    </p>
                }
            }
        </div>
    </section>
</article>


