@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}


<article class="container vh-100 pb-5">

    <header class="row justify-content-center pt-5">
        <div class="col-12 col-md-7">
            <h1 class="text-center">@ViewData["Title"]</h1>
        </div>
    </header>

    <section class="row justify-content-center">
        <div class="col-12 col-md-7 col-lg-6">
            <hr />
            <p class="text-center"> 
                Your password has been reset. Please <a asp-page="./Login"><u>click here to log in</u></a>.
            </p>

        </div>
    </section>

</article>

